*
!.gitignore
!admin
admin/*
!admin/cgp_orders.php
!ext
ext/*
!ext/modules
ext/modules/*
!ext/modules/payment
ext/modules/payment/*
!ext/modules/payment/cgp/
!includes
includes/*
!includes/languages
includes/languages/*
!includes/languages/dutch
includes/languages/dutch/*
!includes/languages/dutch/modules
includes/languages/dutch/modules/*
!includes/languages/dutch/modules/payment
includes/languages/dutch/modules/payment/*
!includes/languages/dutch/modules/payment/cgp_afterpay.php
!includes/languages/dutch/modules/payment/cgp_americanexpress.php
!includes/languages/dutch/modules/payment/cgp_banktransfer.php
!includes/languages/dutch/modules/payment/cgp_billink.php
!includes/languages/dutch/modules/payment/cgp_bitcoin.php
!includes/languages/dutch/modules/payment/cgp_directdebit.php
!includes/languages/dutch/modules/payment/cgp_directebanking.php
!includes/languages/dutch/modules/payment/cgp_giftcard.php
!includes/languages/dutch/modules/payment/cgp_giropay.php
!includes/languages/dutch/modules/payment/cgp_idealqr.php
!includes/languages/dutch/modules/payment/cgp_ideal.php
!includes/languages/dutch/modules/payment/cgp_klarna.php
!includes/languages/dutch/modules/payment/cgp_maestro.php
!includes/languages/dutch/modules/payment/cgp_mastercard.php
!includes/languages/dutch/modules/payment/cgp_mistercash.php
!includes/languages/dutch/modules/payment/cgp_onlineueberweisen.php
!includes/languages/dutch/modules/payment/cgp_paypal.php
!includes/languages/dutch/modules/payment/cgp_paysafecard.php
!includes/languages/dutch/modules/payment/cgp_paysafecash.php
!includes/languages/dutch/modules/payment/cgp_przelewy24.php
!includes/languages/dutch/modules/payment/cgp_sofortueberweisung.php
!includes/languages/dutch/modules/payment/cgp_visa.php
!includes/languages/dutch/modules/payment/cgp_vpay.php
!includes/languages/dutch/modules/payment/cgp_generic.php
!includes/languages/english/
includes/languages/english//*
!includes/languages/english/modules
includes/languages/english/modules/*
!includes/languages/english/modules/payment
includes/languages/english/modules/payment/*
!includes/languages/english/modules/payment/cgp_afterpay.php
!includes/languages/english/modules/payment/cgp_americanexpress.php
!includes/languages/english/modules/payment/cgp_banktransfer.php
!includes/languages/english/modules/payment/cgp_billink.php
!includes/languages/english/modules/payment/cgp_bitcoin.php
!includes/languages/english/modules/payment/cgp_directdebit.php
!includes/languages/english/modules/payment/cgp_directebanking.php
!includes/languages/english/modules/payment/cgp_giftcard.php
!includes/languages/english/modules/payment/cgp_giropay.php
!includes/languages/english/modules/payment/cgp_idealqr.php
!includes/languages/english/modules/payment/cgp_ideal.php
!includes/languages/english/modules/payment/cgp_klarna.php
!includes/languages/english/modules/payment/cgp_maestro.php
!includes/languages/english/modules/payment/cgp_mastercard.php
!includes/languages/english/modules/payment/cgp_mistercash.php
!includes/languages/english/modules/payment/cgp_onlineueberweisen.php
!includes/languages/english/modules/payment/cgp_paypal.php
!includes/languages/english/modules/payment/cgp_paysafecard.php
!includes/languages/english/modules/payment/cgp_paysafecash.php
!includes/languages/english/modules/payment/cgp_przelewy24.php
!includes/languages/english/modules/payment/cgp_sofortueberweisung.php
!includes/languages/english/modules/payment/cgp_visa.php
!includes/languages/english/modules/payment/cgp_vpay.php
!includes/languages/english/modules/payment/cgp_generic.php
!includes/modules/
includes/modules/*
!includes/modules/payment/
includes/modules/payment/*
!includes/modules/payment/cgp_afterpay.php
!includes/modules/payment/cgp_americanexpress.php
!includes/modules/payment/cgp_banktransfer.php
!includes/modules/payment/cgp_billink.php
!includes/modules/payment/cgp_bitcoin.php
!includes/modules/payment/cgp_directdebit.php
!includes/modules/payment/cgp_directebanking.php
!includes/modules/payment/cgp_giftcard.php
!includes/modules/payment/cgp_giropay.php
!includes/modules/payment/cgp_idealqr.php
!includes/modules/payment/cgp_ideal.php
!includes/modules/payment/cgp_klarna.php
!includes/modules/payment/cgp_maestro.php
!includes/modules/payment/cgp_mastercard.php
!includes/modules/payment/cgp_mistercash.php
!includes/modules/payment/cgp_onlineueberweisen.php
!includes/modules/payment/cgp_paypal.php
!includes/modules/payment/cgp_paysafecard.php
!includes/modules/payment/cgp_paysafecash.php
!includes/modules/payment/cgp_przelewy24.php
!includes/modules/payment/cgp_sofortueberweisung.php
!includes/modules/payment/cgp_visa.php
!includes/modules/payment/cgp_vpay.php
!includes/modules/payment/cgp/cgp_generic.php
!tests/
!tests/bootstrap.php
!tests/phpunit.xml
!README.md
!README_DE.md
!README_NL.md
!composer.json
!.travis.yml
!phpunit.xml.dist
!README.md
!README_NL.md